---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio | FKhris.ts">
  <main class="min-h-screen max-w-4xl mx-auto grid items-center">
    <div class="px-6 md:px-10">
      <h1
        class="font-sans text-center text-5xl text-white font-bold md:text-6xl"
      >
        404
      </h1>
      <p class="font-sans text-Grey mt-2 text-center">Page not found</p>
      <img
        src="./images/404.gif"
        alt=""
        aria-hidden="true"
        class="mt-5 mx-auto rounded-sm"
      />
    </div>
  </main>
</Layout>
