---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Footer from '../components/Footer.astro';
---

<Layout title="Portfolio | FKhris.ts">
	<Nav />
	<Header />
	<main class="max-w-4xl mx-auto mt-24">
		<Skills />
		<Projects />
		<About />
	</main>
	<Footer />
</Layout>
