---
import Header from "../components/Header.astro";
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import Tab from "../components/tab/Tab.astro";
import Footer from "../components/Footer.astro";
import HeaderHome from "../components/home/HeaderHome.astro";
---

<Layout title="Portfolio | FKhris">
  <div class="transition-colors bg-white dark:bg-zinc-950">
    <NavBar />
    <Header>
      <HeaderHome />
    </Header>
    <main class="px-6 pt-5">
      <Tab />
    </main>
    <Footer />
  </div>
</Layout>
