---
import Cake from "../../icons/Cake.astro";
import Check from "../../icons/Check.astro";
import Job from "../../icons/Job.astro";
import Badge from "../Badge.astro";
---

<section class="px-6 pt-4">
  <h1 class="text-3xl font-semibold text-zinc-950 dark:text-white flex items-start gap-x-[1px]">
    Christian FL <Check class="size-5 text-pink-500" />
  </h1>
  <p class="text-zinc-500 text-sm">
    Programming ideas, creating solutions. ✨
  </p>
  <p class="text-zinc-700 dark:text-zinc-300 pt-2 text-pretty">
    Computer technology student and creative developer. My mission is to merge creativity and functionality through code.
  </p>
  <div class="flex items-center gap-x-5 pt-2">
    <Badge>
      <Job slot="icon" class="size-5"/>
      Available
    </Badge>
    <Badge>
      <Cake slot="icon" class="size-5"/>
      December 26th
    </Badge>
  </div>
</section>