<section id="about" class="px-6 md:px-10 py-16">
  <h2 class="font-sans text-white font-bold text-2xl mb-6 md:text-3xl">
    About
    <span class="bg-gradient-to-r from-Purple to-Red bg-clip-text text-transparent">
      me
    </span>
  </h2>
  <p class="font-sans mb-3 text-Grey md:text-lg">
    Hello!, I'm Christian and I'm a self-taught programming enthusiast and student.
  </p>
  <p class="font-sans mb-3 text-Grey md:text-lg">
    I firmly believe that practice makes a good programmer, which is why in my free time I like to learn new technologies. I enjoy both designing and developing web pages, using my favorite technologies: JavaScript, SCSS and TailwindCSS.
  </p>
  <p class="font-sans mb-3 text-Grey md:text-lg">
    On the backend, I like to build robust service layers using Express and NestJS. I am constantly looking for ways to improve and learn, exploring new technologies and facing creative challenges.
  </p>
</section>