<li>
  <span
    class="text-sm font-medium text-gray-900 font-mono flex items-center gap-x-1 px-2 py-1 rounded-lg w-max border border-gray-200 hover:bg-gray-200 hover:scale-105 transition"
  >
    <slot />
  </span>
</li>
