<li class="bg-neutral-200 rounded-lg p-[1px] dark:bg-gradient-to-br dark:from-cyan-500 dark:to-purple-500 hover:scale-105 transition-transform">
  <span
    class="text-sm font-medium bg-white text-neutral-950 font-mono flex items-center gap-x-1 px-2 py-1 rounded-lg w-max dark:bg-neutral-900 dark:text-neutral-200"
  >
    <slot />
  </span>
</li>
