---
import Twitter from "../icons/Twitter.astro";
import Github from "../icons/technologies/Github.astro";
---

<footer class="py-6 flex flex-col items-center justify-center">
  <div class="flex items-center gap-x-3 pb-2">
    <a
      href="https://github.com/FLCHRIS"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Github
        class="size-7 transition-transform text-zinc-700 dark:text-zinc-300 hover:scale-110"
      />
      <span class="sr-only">Github</span>
    </a>
    <a href="https://x.com/fkhris26" target="_blank" rel="noopener noreferrer">
      <Twitter
        class="size-7 transition-transform text-zinc-700 dark:text-zinc-300 hover:scale-110"
      />
      <span class="sr-only">Twitter</span>
    </a>
  </div>
  <span class="text-zinc-500 text-sm">
    FKhris &copy; {new Date().getFullYear()}
  </span>
</footer>
