---
import Github from "../icons/Github.astro";
---

<footer class="max-w-4xl mx-auto bg-gradient-to-r from-Purple to-Red pt-[1px]">
  <div class="px-6 md:px-10 py-10 flex justify-between items-center bg-black">
    <p class="font-sans text-sm text-Grey md:text-base">
      &copy; 2024 <span class="bg-gradient-to-r from-Purple to-Red bg-clip-text text-transparent font-bold">FKhris.ts</span>
    </p>
    <a 
      href="https://github.com/FLCHRIS" 
      target="_blank"
      class="font-sans text-sm text-Grey flex gap-1 items-center md:text-base hover:text-white transition-colors"
      >
      <Github class="size-5" />
      GitHub
    </a>
  </div>
</footer>