---
import { Image } from "astro:assets";
import ImageProfile from "./ImageProfile.astro";
import Github from "../icons/technologies/Github.astro";

export interface Props {
  image: ImageMetadata;
}

const { image } = Astro.props;
---

<header>
  <Image
    src={image}
    alt="backpage"
    class="w-full h-44 object-cover"
    loading="eager"
    style={{ maskImage: "linear-gradient(black 30%, transparent 100%)" }}
  />
  <div class="relative px-6 pt-2 flex justify-end">
    <div
      class="absolute left-6 bottom-0 transition-colors size-28 rounded-full overflow-hidden border-2 border-zinc-950 dark:border-white"
    >
      <ImageProfile classStyle="transition-transform size-full object-cover hover:scale-105" typeLoading="eager" />
    </div>
    <a
      href="https://github.com/FLCHRIS"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-x-1 bg-pink-500 px-3 py-2 text-white font-medium rounded-full transition hover:bg-pink-600 hover:scale-95"
    >
      <span>Follow</span>
      <Github class="size-5" />
    </a>
  </div>
  <slot />
</header>
