---
import { Image } from "astro:assets";
import ImageProfile from "./ImageProfile.astro";
import backpage from "../images/backpage.png";
import Github from "../icons/technologies/Github.astro";
import Check from "../icons/Check.astro";
import Job from "../icons/Job.astro";
import Cake from "../icons/Cake.astro";
---

<header>
  <Image
    src={backpage}
    alt="backpage"
    class="w-full h-44 object-cover"
    loading="eager"
    style={{ maskImage: "linear-gradient(black 30%, transparent 100%)" }}
  />
  <div class="relative px-6 pt-2 flex justify-end">
    <div
      class="absolute left-6 bottom-0 transition-colors size-28 rounded-full overflow-hidden border-2 border-zinc-950 dark:border-white"
    >
      <ImageProfile classStyle="transition-transform size-full object-cover hover:scale-105" typeLoading="eager" />
    </div>
    <a
      href="https://github.com/FLCHRIS"
      target="_blank"
      rel="noopener noreferrer"
      class="transition-colors flex items-center gap-x-1 bg-pink-500 px-3 py-2 text-white font-medium rounded-full hover:bg-pink-600"
    >
      <span>Follow</span>
      <Github class="size-5" />
    </a>
  </div>
  <section class="px-6 pt-4">
    <h1 class="transition-colors text-3xl font-semibold text-zinc-950 dark:text-white flex items-start gap-x-[1px]">Christian FL <Check class="size-5 text-pink-500" /></h1>
    <p class="text-zinc-500 text-sm">
      Programming ideas, creating solutions. ✨
    </p>
    <p class="transition-colors text-zinc-700 dark:text-zinc-300 pt-2 text-pretty">
      Computer technology student and creative developer. My mission is to merge creativity and functionality through code.
    </p>
    <div class="flex items-center gap-x-5 pt-2">
      <span class="flex items-center gap-x-1 text-zinc-500">
        <Job class="size-5"/>
        Available
      </span>
      <span class="flex items-center gap-x-1 text-zinc-500">
        <Cake  class="size-5"/>
        December 26th
    </div>
  </section>
</header>
