---
import Arrow from "../icons/Arrow.astro";

---

<header class="max-w-4xl mx-auto px-6 md:px-10">
  <h1 class="font-sans text-white font-bold text-2xl mt-14 max-w-xl md:text-4xl md:mt-20">
    Web Developer and Code Explorer:
    <span
      class="bg-gradient-to-r from-Purple to-Red bg-clip-text text-transparent"
    > Turning Ideas
    </span> into
    <span
      class="bg-gradient-to-r from-Purple to-Red bg-clip-text text-transparent"
    > Reality
    </span> with JavaScript Passion.
  </h1>
  <p class="font-sans text-Grey mt-8 max-w-xl md:text-lg md:mt-10">
    My mission is to merge creativity and functionality through code. Driven by
    constant curiosity, I strive to learn new technologies and face challenges
    that expand my ability to create impactful solutions.
  </p>

  <a href="#projects" class="font-sans text-white font-medium flex items-center gap-2 mt-6 bg-gradient-to-r from-Purple to-Red w-max py-2 px-5 rounded-lg md:text-lg md:mt-8 hover:scale-95 transition-transform">
    Projects
    <Arrow class="size-6 md:size-7"/>
  </a>
</header>
