---
interface Props {
  href: string
  name: string
}

const {href, name} = Astro.props
---

<li class="font-sans font-medium text-Grey hover:bg-gradient-to-r hover:from-Purple hover:to-Red hover:bg-clip-text hover:text-transparent transition-colors md:text-lg">
  <a href={href}>
    {name}
  </a>
</li>
