---
import Logo from "../icons/Logo.astro";
import MenuIcon from "../icons/Menu.astro";
import HeartIcon from "../icons/Heart.astro";
import XIcon from "../icons/X.astro";
import Link from "./Link.astro";

const itemsMenu = [
  {
    href: "#skills",
    name: "Skills",
  },
  {
    href: "#",
    name: "Blog",
  },
  {
    href: "#",
    name: "About me",
  },
];
---

<nav
  class="max-w-4xl mx-auto sticky top-0 bg-[#00000070] backdrop-blur-sm p-6 grid grid-flow-col justify-between items-center md:p-10"
>
  <a href="/" aria-label="Go to home">
    <Logo class="w-32 md:w-44 hover:scale-95 transition-transform" />
  </a>

  <div
    id="divMenu"
    class="fixed top-0 left-0 w-full h-screen bg-black opacity-0 invisible transition-opacity sm:opacity-100 sm:visible sm:transition-none sm:static sm:h-auto sm:w-auto"
  >
    <span
      class="relative block w-max mx-auto font-sans text-white text-3xl font-bold mt-24 before:content-[''] before:block before:absolute before:-bottom-1 before:left-0 before:right-0 before:mx-auto before:w-3/6 before:h-1 before:bg-gradient-to-r before:from-Purple before:to-Red sm:hidden"
    >
      Menu
    </span>
    <ul class="mt-10 flex flex-col items-center justify-center gap-3 sm:flex-row sm:m-0 sm:gap-6 md:gap-10">
      {itemsMenu.map(({ href, name }) => <Link href={href} name={name} />)}
    </ul>
    <div class="absolute w-max bottom-10 left-0 right-0 mx-auto sm:hidden">
      <p class="font-sans text-Grey text-sm flex gap-1 items-center">
        Designed and developed with
        <HeartIcon class="size-3" />
      </p>
      <p class="font-sans text-Grey text-sm text-center">
        By
        <a
          href="https://github.com/FLCHRIS"
          class="bg-gradient-to-r from-Purple to-Red bg-clip-text text-transparent font-bold"
          >Fkhris.ts</a
        >
      </p>
    </div>
  </div>

  <button
    id="btnMenu"
    class="relative z-10 hover:scale-105 transition-transform text-Grey sm:hidden"
    aria-label="Show menu"
  >
    <MenuIcon id="menuIcon" class="size-8" />
    <XIcon id="xIcon" class="size-8 hidden" />
  </button>
</nav>

<script>
  const menuIcon = document.getElementById("menuIcon");
  const xIcon = document.getElementById("xIcon");
  const divMenu = document.getElementById("divMenu");
  const btnMenu = document.getElementById("btnMenu");
  
  btnMenu?.addEventListener("click", () => {
    if (menuIcon?.classList.toggle("hidden")) {
      xIcon?.classList.remove("hidden")
      divMenu?.classList.remove("opacity-0")
      divMenu?.classList.remove("invisible")
    } else {
      xIcon?.classList.add("hidden")
      divMenu?.classList.add("opacity-0")
      divMenu?.classList.add("invisible")
    }
  });
</script>
