---
import Docker from "../icons/Docker.astro";
import MongoDB from "../icons/MongoDB.astro";
import MySQL from "../icons/MySQL.astro";
import NodeJS from "../icons/NodeJS.astro";
import Prisma from "../icons/Prisma.astro";
import React from "../icons/React.astro";
import Sass from "../icons/Sass.astro";
import TypeScript from "../icons/TypeScript.astro";
import Project from "./Project.astro";
import Skill from "./Skill.astro";
---

<section id="projects" class="px-6 md:px-10 py-16">
  <h2 class="font-sans text-white font-bold text-2xl mb-6 md:text-3xl">
    My
    <span
      class="bg-gradient-to-r from-Purple to-Red bg-clip-text text-transparent"
    >
      projects
    </span>
  </h2>
  <div class="grid gap-10 md:gap-14">
    <Project
      title="Delicious food"
      paragraph="This project was created to demonstrate my knowledge of the TypeScript programming language. It is a small restaurant food ordering app, where you can order burgers, drinks, salads, desserts, and breakfasts."
      image="./images/deliciousFood.png"
      hrefLive="https://breakfasttimeandburger.netlify.app/"
      hrefRepository="https://github.com/FLCHRIS/burger-time"
    >
      <Skill
        class="bg-gradient-to-br from-[#3178C6] to-[#3179c645] rounded-lg p-[1px] shadow-md shadow-[#3179c645]"
      >
        <TypeScript slot="icon" class="text-[#3178C6] size-5" />
        TypeScript
      </Skill>
      <Skill
        class="bg-gradient-to-br from-[#61DAFB] to-[#61DAFB45] rounded-lg p-[1px] shadow-md shadow-[#61DAFB45]"
      >
        <React slot="icon" class="text-[#61DAFB] size-5" />
        React
      </Skill>
      <Skill
        class="bg-gradient-to-br from-[#CC6699] to-[#CC669945] rounded-lg p-[1px] shadow-md shadow-[#CC669945]"
      >
        <Sass slot="icon" class="text-[#CC6699] size-5" />
        Sass
      </Skill>
    </Project>
    <Project
      title="Go shopping"
      paragraph="This project was created to demonstrate my skills in creating APIs, making use of best practices, database management and file handling, using various technologies and following good software development practices to offer a scalable, easy to maintain and secure solution."
      image="./images/goShopping.png"
      hrefLive=""
      hrefRepository="https://github.com/FLCHRIS/goshoppingback"
    >
      <Skill
        class="bg-gradient-to-br from-[#3178C6] to-[#3179c645] rounded-lg p-[1px] shadow-md shadow-[#3179c645]"
      >
        <TypeScript slot="icon" class="text-[#3178C6] size-5" />
        TypeScript
      </Skill>
      <Skill
        class="bg-gradient-to-br from-[#339933] to-[#33993345] rounded-lg p-[1px] shadow-md shadow-[#33993345]"
      >
        <NodeJS slot="icon" class="text-[#339933] size-5" />
        Node.js
      </Skill>
      <Skill class="bg-gradient-to-br from-[#4479A1] to-[#4479A145] rounded-lg p-[1px] shadow-md shadow-[#4479A145]">
        <MySQL slot="icon" class="text-[#4479A1] size-5" />
        MySQL
      </Skill>
      <Skill class="bg-gradient-to-br from-[#2D3748] to-[#2D374845] rounded-lg p-[1px] shadow-md shadow-[#2D374845]">
        <Prisma slot="icon" class="text-[#2D3748] size-5" />
        Prisma
      </Skill>
    </Project>
  </div>
</section>
