---
import Docker from "../icons/Docker.astro";
import MongoDB from "../icons/MongoDB.astro";
import NodeJS from "../icons/NodeJS.astro";
import React from "../icons/React.astro";
import Sass from "../icons/Sass.astro";
import TypeScript from "../icons/TypeScript.astro";
import Project from "./Project.astro";
import Skill from "./Skill.astro";
---

<section id="projects" class="px-6 md:px-10 py-16">
  <h2 class="font-sans text-white font-bold text-2xl mb-6 md:text-3xl">
    My
    <span
      class="bg-gradient-to-r from-Purple to-Red bg-clip-text text-transparent"
    >
      projects
    </span>
  </h2>
  <div class="grid gap-10 md:gap-14">
    <Project
      title="Delicious food"
      paragraph="This project was created to demonstrate my knowledge of the TypeScript programming language. It is a small restaurant food ordering app, where you can order burgers, drinks, salads, desserts, and breakfasts."
      image="./images/deliciousFood.png"
      hrefLive="https://breakfasttimeandburger.netlify.app/"
      hrefRepository="https://github.com/FLCHRIS/burger-time"
    >
      <Skill
        class="bg-gradient-to-br from-[#3178C6] to-[#3179c645] rounded-lg p-[1px] shadow-md shadow-[#3179c645]"
      >
        <TypeScript slot="icon" class="text-[#3178C6] size-5" />
        TypeScript
      </Skill>
      <Skill
        class="bg-gradient-to-br from-[#61DAFB] to-[#61DAFB45] rounded-lg p-[1px] shadow-md shadow-[#61DAFB45]"
      >
        <React slot="icon" class="text-[#61DAFB] size-5" />
        React
      </Skill>
      <Skill
        class="bg-gradient-to-br from-[#CC6699] to-[#CC669945] rounded-lg p-[1px] shadow-md shadow-[#CC669945]"
      >
        <Sass slot="icon" class="text-[#CC6699] size-5" />
        Sass
      </Skill>
    </Project>
    <Project
      title="Fake book store api"
      paragraph="Fake Books API is a free online REST API that you can use whenever you need pseudo-real data for your library application, whether for development, testing, or educational purposes. This API provides dummy information about books, authors, and categories with authentication"
      image="./images/fakeAPI.png"
      hrefLive="https://fake-book-store.netlify.app/"
      hrefRepository="https://github.com/FLCHRIS/fake-book-store-api"
    >
      <Skill
        class="bg-gradient-to-br from-[#2496ED] to-[#2496ED45] rounded-lg p-[1px] shadow-md shadow-[#2496ED45]"
      >
        <Docker slot="icon" class="text-[#2496ED] size-5" />
        Docker
      </Skill>
      <Skill
        class="bg-gradient-to-br from-[#47A248] to-[#47A24845] rounded-lg p-[1px] shadow-md shadow-[#47A24845]"
      >
        <MongoDB slot="icon" class="text-[#47A248] size-5" />
        MongoDB
      </Skill>
      <Skill
        class="bg-gradient-to-br from-[#339933] to-[#33993345] rounded-lg p-[1px] shadow-md shadow-[#33993345]"
      >
        <NodeJS slot="icon" class="text-[#339933] size-5" />
        Node.js
      </Skill>
    </Project>
  </div>
</section>
