---

---

<section id="skills" class="bg-gradient-to-r from-Purple to-Red py-[1px]">
  <div class="px-6 md:px-10 bg-black py-16">
    <h2 class="font-sans text-white font-bold text-2xl mb-6">
      My
      <span class="bg-gradient-to-r from-Purple to-Red bg-clip-text text-transparent">
        skills
      </span>
    </h2>
    <p class="font-sans mb-3 text-Grey">
      In my journey as a self-taught student with a passion for programming, I have acquired versatile skills in various tools and technologies.
    </p>
    <p class="font-sans mb-3 text-Grey">
      This knowledge allows me to approach projects from different perspectives, from the development of dynamic web applications to the creation of attractive and functional user interfaces.
    </p>
    <p class="font-sans mb-3 text-Grey">
      My toolbox includes:
    </p>
  </div>
</section>