<ol class="relative mt-4 grid gap-4">
  <div class="relative">
    <slot />
  </div>
  <div class="absolute top-0 left-0 w-px h-full bg-neutral-200 dark:bg-gradient-to-b dark:from-cyan-500 dark:to-purple-500"></div>
</ol>
