---
import Typography from "../Typography.astro";
---

<div
  class="tab_item_content hidden grid-flow-row gap-y-5"
  data-tab="tab_item-blog"
>
  <article>
    <header>
      <h1 class="sr-only">Blog</h1>
      <Typography type="paragraph">
        Here you will find some tricks and techniques that I have learned throughout my learning in software development, as well as some designs and support tools when developing an application.
      </Typography>
    </header>
    <section class="pt-2">
      <Typography type="heading" level={2}>
        Latest posts
      </Typography>
      <p
        class="transition-colors text-zinc-700 dark:text-zinc-300 pt-2 text-pretty"
      >
        Comming soon...
      </p>
    </section>
  </article>
</div>
