---
import { formatDate } from "../../utils/formatDate";
import Typography from "../Typography.astro";

const posts = await Astro.glob("../../pages/blog/*.mdx");
---

<div
  class="tab_item_content hidden grid-flow-row gap-y-5"
  data-tab="tab_item-blog"
>
  <article>
    <header>
      <h1 class="sr-only">Blog</h1>
      <Typography type="paragraph">
        Here you will find some tricks and techniques that I have learned throughout my learning in software development, as well as some designs and support tools when developing an application.
      </Typography>
    </header>
    <section class="pt-2">
      <Typography type="heading" level={2}>
        Latest posts
      </Typography>
      <ul>
        {
          posts.map((post) => (
            <li>
              <article>
                <header>
                  <h3 class="transition text-zinc-700 dark:text-zinc-300 pt-2 text-pretty hover:text-pink-500">
                    <a href={post.url}>
                      {post.frontmatter.title}
                    </a>
                  </h3>
                  <p class="text-zinc-500 text-sm">
                    Christian FL - <time datetime={post.frontmatter.date}>{formatDate(post.frontmatter.date)}</time>
                  </p>
                </header>
              </article>
            </li>
          ))
        }
      </ul>
    </section>
  </article>
</div>
