---
import Timeline from "@/components/Timeline.astro";
import TimelineItem from "@/components/TimelineItem.astro";

const TIMELINE_ITEMS = [
  {
    date: "2024 - 2024",
    title: "Desarrollo Fullstack",
    company: "Lexar",
    description: "Diseñé y desarrollé una plataforma de gestión inmobiliaria con un panel de administración para la venta y administración de propiedades. Además de  autenticación segura con JWT y un sistema de roles para gestionar permisos de administradores, vendedores y clientes.",
  },
  {
    date: "2024 - 2024",
    title: "Programador React",
    company: "Universidad Veracruzana",
    description: "Desarrollé un sistema para automatizar el registro de acceso al cubículo de estudiantes, eliminando el proceso manual con papel y lápiz. Implementé un panel de administrador para gestionar usuarios y accesos, autenticación segura con JWT y generación de reportes en PDF sobre los registros de asistencia.",
  }
];
---

<section class="px-6 py-5 w-full max-w-2xl mx-auto">
  <h2 class="text-xl font-semibold font-mono text-gray-900 mb-3">
    Experiencia laboral
  </h2>
  <Timeline>
    {
      TIMELINE_ITEMS.map((item) => (
        <TimelineItem
          date={item.date}
          company={item.company}
          title={item.title}
          description={item.description}
        />
      ))
    }
  </Timeline>
</section>
