---
import Timeline from "@/components/Timeline.astro";
import TimelineItem from "@/components/TimelineItem.astro";

const TIMELINE_ITEMS = [
  {
    date: "2024 - 2024",
    title: "Desarrollo Fullstack",
    company: "Lexar",
    description: "Diseño y desarrollo completo de una plataforma inmobiliaria utilizando Next.js para el frontend, Express.js para la creación de APIs en el backend, y PostgreSQL como base de datos. Implementé funcionalidades clave como búsqueda avanzada, gestión de propiedades, y filtros dinámicos. Proyecto desarrollado de forma independiente como freelancer.",
  },
];
---

<section class="px-6 py-5 w-full max-w-2xl mx-auto">
  <h2 class="text-xl font-semibold font-mono text-gray-900 mb-3">
    Experiencia laboral
  </h2>
  <Timeline>
    {
      TIMELINE_ITEMS.map((item) => (
        <TimelineItem
          date={item.date}
          company={item.company}
          title={item.title}
          description={item.description}
        />
      ))
    }
  </Timeline>
</section>
