<section class="px-6 pt-5 w-full max-w-2xl mx-auto">
  <p class="text-neutral-600 font-mono text-sm text-center dark:text-neutral-400">
    Desarrollado por
    <a
      href="https://github.com/FLCHRIS"
      target="_blank"
      rel="noreferrer"
      class="block w-fit mx-auto text-neutral-700 font-semibold hover:underline dark:text-neutral-200"
    >
      Christian FL
    </a>
  </p>
</section>