---
import Proyect from "@/components/Proyect.astro";

const PROYECTS = [
  {
    name: "Burger Time",
    description: "Pequeña aplicación web de pedidos de comida para restaurantes, donde puedes pedir hamburguesas, bebidas, ensaladas, postres y desayunos.",
    urlCode: "https://github.com/FLCHRIS/burger-time",
    urlLive: "https://breakfasttimeandburger.netlify.app/",
  },
  {
    name: 'Book Store API',
    description: 'API para una tienda en línea de libros con un panel de administración exclusivo para la gestión de inventario, donde los clientes pueden explorar y comprar libros fácilmente.',
    urlCode: 'https://github.com/FLCHRIS/book-store-API'
  },
  {
    name: 'Delicious Food',
    description: 'Diseñé y desarrollé una página web para un restaurante utilizando React y Tailwind CSS. La plataforma incluye un diseño responsivo con modo claro/oscuro y secciones como Inicio, Menú, Sobre Nosotros y Contacto para mejorar la experiencia del usuario.',
    urlCode: 'https://github.com/FLCHRIS/d-food',
    urlLive: 'https://delifoodc.netlify.app/'
  }
];
---

<section class="px-6 py-5 w-full max-w-2xl mx-auto">
  <h2 class="text-xl font-semibold font-mono text-gray-900 mb-3">Proyectos</h2>
  <ul class="grid gap-4">
    {
      PROYECTS.map((proyect) => (
        <Proyect
          name={proyect.name}
          description={proyect.description}
          urlCode={proyect.urlCode}
          urlLive={proyect.urlLive}
        />
      ))
    }
  </ul>
</section>
