---
import Badge from "@/components/Badge.astro";

import HtmlIcon from "@/icons/skills/HtmlIcon.astro";
import CssIcon from "@/icons/skills/CssIcon.astro";
import JavaScriptIcon from "@/icons/skills/JavaScriptIcon.astro";
import NextjsIcon from "@/icons/skills/NextjsIcon.astro";
import ReactIcon from "@/icons/skills/ReactIcon.astro";
import SassIcon from "@/icons/skills/SassIcon.astro";
import TailwindIcon from "@/icons/skills/TailwindIcon.astro";
import TypeScriptIcon from "@/icons/skills/TypeScriptIcon.astro";
import DjangoIcon from "@/icons/skills/DjangoIcon.astro";
import MysqlIcon from "@/icons/skills/MysqlIcon.astro";
import NodejsIcon from "@/icons/skills/NodejsIcon.astro";
import PythonIcon from "@/icons/skills/PythonIcon.astro";
---

<section class="px-6 py-5 w-full max-w-2xl mx-auto">
  <h2 class="text-xl font-semibold font-mono text-gray-900 mb-3">
    Habilidades
  </h2>
  <ul class="flex flex-wrap gap-2">
    <Badge>
      <HtmlIcon class="size-5" />
      HTML
    </Badge>
    <Badge>
      <CssIcon class="size-5" />
      CSS
    </Badge>
    <Badge>
      <JavaScriptIcon class="size-5" />
      JavaScript
    </Badge>
    <Badge>
      <NextjsIcon class="size-5" />
      Next.js
    </Badge>
    <Badge>
      <ReactIcon class="size-5" />
      React
    </Badge>
    <Badge>
      <SassIcon class="size-5" />
      Sass
    </Badge>
    <Badge>
      <TailwindIcon class="size-5" />
      Tailwind
    </Badge>
    <Badge>
      <TypeScriptIcon class="size-5" />
      TypeScript
    </Badge>
    <Badge>
      <DjangoIcon class="size-5" />
      Django
    </Badge>
    <Badge>
      <MysqlIcon class="size-5" />
      MySQL
    </Badge>
    <Badge>
      <NodejsIcon class="size-5" />
      Node.js
    </Badge>
    <Badge>
      <PythonIcon class="size-5" />
      Python
    </Badge>
  </ul>
</section>
