---
import '@fontsource-variable/inter';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="theme-color" content="#000000" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="keywords" content="portfolio, christian, chris, fkhris, fkhris.ts">
    <meta name="url" content="https://fkhris-ts.netlify.app/" />
    <meta name="author" content="Christian FL" />
    <meta name="description" content="Explore my skills and projects that reflect my passion for creativity and innovation. Discover how I transform ideas into tangible results, highlighting my experience and commitment to excellence." />
    <link rel="apple-touch-icon" href="/favicon.svg" />
    <link rel="manifest" href="/manifest.json" />

		<meta name="title" content="Portfolio | FKhris.ts" />
    <meta name="description" content="Explore my skills and projects that reflect my passion for creativity and innovation. Discover how I transform ideas into tangible results, highlighting my experience and commitment to excellence." />

		<meta property="og:type" content="website" />
    <meta property="og:url" content="https://fkhris-ts.netlify.app/" />
    <meta property="og:title" content="Portfolio | FKhris.ts" />
    <meta property="og:description" content="Explore my skills and projects that reflect my passion for creativity and innovation. Discover how I transform ideas into tangible results, highlighting my experience and commitment to excellence." />
    <meta property="og:image" content="https://fkhris-ts.netlify.app/images/prev.png" />

		<meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://fkhris-ts.netlify.app/" />
    <meta property="twitter:title" content="Portfolio | FKhris.ts" />
    <meta property="twitter:description" content="Explore my skills and projects that reflect my passion for creativity and innovation. Discover how I transform ideas into tangible results, highlighting my experience and commitment to excellence." />
    <meta property="twitter:image" content="https://fkhris-ts.netlify.app/images/prev.png" />

		<link rel="canonical" href="https://fkhris-ts.netlify.app/" /> 
    <link rel="sitemap" type="application/xml" href="/humans.txt" />
    <link rel="author" href="https://fkhris-ts.netlify.app/humans.txt" />

		<title>{title}</title>
	</head>
	<body class="bg-black">
		<slot />
		<div class="fixed top-0 left-0 w-full h-full -z-10">
			<div class="relative h-full w-full bg-black">
				<div
					class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[550px] w-[550px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(120,40,200,.15),rgba(255,255,255,0))]"
				>
				</div>
				<div
					class="absolute bottom-0 right-[-20%] top-[-10%] h-[550px] w-[550px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(243,18,96,.15),rgba(255,255,255,0))]"
				>
				</div>
			</div>
		</div>
	</body>
</html>

<style is:global>
	::-webkit-scrollbar {
		display: none;
	}
	::selection {
		background-color: #7828C8;
		color: #FFFFFF;
	}
	html {
		scroll-behavior: smooth;
	}
</style>