---
import "@fontsource-variable/fira-code";

export interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />

    <!-- Primary Meta Tags -->
    <title>Christian FL - Portafolio</title>
    <meta name="title" content="Christian FL - Portafolio" />
    <meta
      name="description"
      content="Hola, soy Christian FL. Desarrollador de software con experiencia en creación de soluciones digitales. En este portafolio podrás ver detalles sobre mi carrera profesional, algunos de mis proyectos personales, y las herramientas que domino, como Express, TailwindCSS, FastAPI, React, y más. ¡Dale un vistazo a mis trabajos y no dudes en contactarme para cualquier proyecto!"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://khriss.vercel.app/" />
    <meta property="og:title" content="Christian FL - Portafolio" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta
      property="og:description"
      content="Hola, soy Christian FL. Desarrollador de software con experiencia en creación de soluciones digitales. En este portafolio podrás ver detalles sobre mi carrera profesional, algunos de mis proyectos personales, y las herramientas que domino, como Express, TailwindCSS, FastAPI, React, y más. ¡Dale un vistazo a mis trabajos y no dudes en contactarme para cualquier proyecto!"
    />
    <meta property="og:image" content="https://khriss.vercel.app/preview.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://khriss.vercel.app/" />
    <meta property="twitter:title" content="Christian FL - Portafolio" />
    <meta
      property="twitter:description"
      content="Hola, soy Christian FL. Desarrollador de software con experiencia en creación de soluciones digitales. En este portafolio podrás ver detalles sobre mi carrera profesional, algunos de mis proyectos personales, y las herramientas que domino, como Express, TailwindCSS, FastAPI, React, y más. ¡Dale un vistazo a mis trabajos y no dudes en contactarme para cualquier proyecto!"
    />
    <meta
      property="twitter:image"
      content="https://khriss.vercel.app/preview.png"
    />

    <title>{title}</title>
  </head>
  <body>
    <main class="py-14">
      <slot />
    </main>
    <div class="fixed -z-10 inset-0 size-full bg-white dark:hidden"><div class="absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"></div></div>
    <div class="fixed top-0 left-0 w-full h-full -z-10 hidden dark:block">
			<div class="relative h-full w-full bg-black">
				<div
					class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[550px] w-[550px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(120,40,200,.15),rgba(255,255,255,0))]"
				>
				</div>
				<div
					class="absolute bottom-0 right-[-20%] top-[-10%] h-[550px] w-[550px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(243,18,96,.15),rgba(255,255,255,0))]"
				>
				</div>
			</div>
		</div>
  </body>
</html>

<style is:global>
  ::-webkit-scrollbar {
    @apply w-4;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
    @apply dark:bg-black;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-300;
    @apply dark:bg-neutral-500;
  }
</style>
