---
import { ViewTransitions } from "astro:transitions";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import Background from "../components/Background.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#09090b" />
    <title>{title}</title>
  </head>
  <body class="max-w-2xl mx-auto">
    <slot />
    <Background />
  </body>
</html>
<style is:global>
  ::view-transition-new(root),
  ::view-transition-old(root) {
    animation: none;
    animation-duration: 1.5s;
  }
  ::view-transition-new(root) {
    animation-name: clipIn;
  }

  @keyframes clipIn {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  ::-webkit-scrollbar {
    @apply bg-white;
    @apply dark:bg-zinc-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-pink-500;
  }
  ::selection {
    @apply bg-pink-400;
    color: #ffffff;
  }
</style>
