---
import { ViewTransitions } from "astro:transitions";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import Background from "../components/Background.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="theme-color" content="#09090b" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="max-w-2xl mx-auto">
    <slot />
    <Background />
  </body>
</html>
<style is:global>
  ::-webkit-scrollbar {
    @apply bg-white;
    @apply dark:bg-zinc-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-pink-500;
  }
  ::selection {
    @apply bg-pink-400;
    color: #ffffff;
  }
</style>
