---
import '@fontsource-variable/inter';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-black">
		<slot />
		<div class="fixed top-0 left-0 w-full h-full -z-10">
			<div class="relative h-full w-full bg-black">
				<div
					class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(120,40,200,.15),rgba(255,255,255,0))]"
				>
				</div>
				<div
					class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(243,18,96,.15),rgba(255,255,255,0))]"
				>
				</div>
			</div>
		</div>
	</body>
</html>